
<form method="post" action="/:id" novalidate>
  <div class="form-field">
    <label for="Кодированный текст">Текст</label>
    <textarea class="input" id="demessage" name="demessage" rows="4"><%=decodtext%></textarea>
  </div>
  <div class="form-field">
    <label for="password">Пароль</label>
    <input class="input" id="password" name="password" type="password" value="" />
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Декодировать</button>
  </div>
</form>
<div class="form-field">
  <label for="Декодированный текст">Текст</label>
  <textarea class="input" id="demessage" name="demessage" rows="4"><%=endecodetext %></textarea>
</div>
